<div class="container">
    <h1 class="mt-3">
        Modifica Indirizzo
    </h1>

  <!--
    <ng-container *ngIf="address; else notFound">

        <form #form="ngForm" (ngSubmit)="onFormSubmit()">

            <div class="mt-2">
                <div class="mt-3">
                    <label for="categoryID">ID Indirizzo</label>
                    <input type="text" readonly id="addressId" class="form-control" name="addressId" value="{{address.productId}}">
                </div>

                <div class="mt-3">
                    <label class="form-label" for="addressLine1">1° Indirizzo</label>
                    <input type="text"  id="addressLine1" class="form-control" name="addressLine1" [(ngModel)]="address.listPrice">
                </div>


                <div class="mt-3">
                    <label class="form-label" for="addressLine2">2° Indirizzo</label>
                    <input type="text"  id="addressLine2" class="form-control" name="addressLine2" [(ngModel)]="address.color">
                </div>

                <div class="mt-3">
                    <label class="form-label" for="city">Città</label>
                    <input type="text"  id="city" class="form-control" name="city" [(ngModel)]="address.name">
                </div>

                <div class="mt-3">
                    <label class="form-label" for="stateProvince">Provincia</label>
                    <input type="text"  id="stateProvince" class="form-control" name="stateProvince" [(ngModel)]="address.color">
                </div>

                <div class="mt-3">
                    <label class="form-label" for="countryRegion">Stato</label>
                    <input type="text"  id="countryRegion" class="form-control" name="countryRegion" [(ngModel)]="address.listPrice">
                </div>


                <div class="mt-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>


            </div>
        </form>
        kl
    </ng-container>


    <ng-template #notFound>

        <div class="alert alert-info" role="alert">
            Indirizzo Non Trovato!
          </div>
    </ng-template>



</div>

-->

