<nav class="main-menu">
    <ul>
      <li>
        <a href="#">
          <i class="fa fa-home nav-icon"></i>
          <span class="nav-text">Home</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-image nav-icon"></i>
          <span class="nav-text">Dati Personali</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-pen nav-icon"></i>
          <span class="nav-text">I miei Ordini</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-envelope nav-icon"></i>
          <span class="nav-text">Messaggi</span>
        </a>
      </li>

      <li>
        <a href="/carrello">
          <i class="fa-solid fa-cart-shopping fa-lg"></i>
          <span class="nav-text">&nbsp;&nbsp;&nbsp;&nbsp;Carrello</span>
        </a>
      </li>

    </ul>

    <ul class="logout">
      <li>
        <a href="#">
          <i class="fa fa-cogs nav-icon"></i>
          <span class="nav-text">Impostazioni</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-right-from-bracket nav-icon"></i>
          <span class="nav-text">
            Disconnetti
          </span>
        </a>
      </li>  
    </ul>
 </nav>
