<div  *ngIf="clientidata">

  <p>Nome: <strong> {{clientidata.firstName}}</strong></p>
  <p>Cognome: <strong>{{clientidata.lastName}}</strong></p>
  <p>Company: <strong>{{clientidata.companyName}}</strong></p>

 <h6>Seleziona Modello: </h6>
 <select >
     <option></option>
     <option>22''</option>
     <option>24''</option>
     <option>26''</option>
     <option>28''</option>
     <option>30''</option>
 </select>
 <input type="number" value="1">
 <button type="button" class="btn btn-light">Aggiungi al Carrello</button>
 <h4>Dettagli prodotto</h4>
 <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi voluptas amet temporibus at reiciendis repellat, maxime dolor quod. Vel facere nisi nihil doloremque temporibus dolorem delectus iure? Doloremque, tenetur ullam.</span>
</div>
